<div id="new-session">
  <h1>Login</h1>

  <%= form_tag(session_create_path) do %>
    <%= label_tag :email %>
    <%= text_field_tag :email ,"Enter Email"%><br><br>

    <%= label_tag :password %>
    <%= password_field_tag :password %><br><br>
    <%= submit_tag 'Login' %>
  <% end%>
  </div>

 <p id="new-session1"><%= link_to "Register", new_user_path %></p>
  <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>

 





